@charset "utf-8"
$column-gap: 0.25rem
@import "~bulma/bulma.sass";

* 
  margin: 0
  padding: 0

body
  background: #f0f0f0
  padding: .5rem
  min-height: 100vh
  min-width: 100vw

.main
  background-color: red
  display: block

.flex-direction-column
  flex-direction: column

.center-items-through-flex
  display: flex
  justify-content: center
  align-items: center

.align-items-center
  display: flex
  align-items: center